/*
Font face
*/
@font-face {
font-family: 'Gotham-Book';
src: url('../fonts/Gotham-Book.eot');
src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg'),
        url('../fonts/Gotham-Book.ttf') format('truetype'),
        url('../fonts/Gotham-Book.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'GothamBold';
src: url('../fonts/GothamBold.eot');
src: url('../fonts/GothamBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamBold.svg#GothamBold') format('svg'),
        url('../fonts/GothamBold.ttf') format('truetype'),
        url('../fonts/GothamBold.woff') format('woff');
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'GothamBold-Italic';
src: url('../fonts/GothamBold-Italic.eot');
src: url('../fonts/GothamBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamBold-Italic.svg#GothamBold-Italic') format('svg'),
        url('../fonts/GothamBold-Italic.ttf') format('truetype'),
        url('../fonts/GothamBold-Italic.woff') format('woff');
font-weight: bold;
font-style: italic;
}
  
@font-face {
    font-family: 'Gotham Book Italic';
    src: url('Gotham Book Italic.eot');
    src: url('Gotham Book Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'GothamBook-Italic';
    src: url('GothamBook-Italic.svg#GothamBook-Italic') format('svg'),
         url('GothamBook-Italic.ttf') format('truetype'),
         url('GothamBook-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
  }
  
  
  
//   font weight

$bold: 'GothamBold';
$boldItalic: 'GothamBold-Italic';
$italic: 'GothamBook-Italic', 'Gotham Book Italic';


//Font sizes:
$cuerpo: 18px;
$azul: #1e397a;
$aqua: #6cbfc1;
$darkgreen: #017f8e;
$titulo-0: 90px;
$titulo-1: 70px;
$titulo-2: 45px;
$titulo-3: 35px;
$titulo-4: 25px;


// generales
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    // font-family: 'GothamBook';
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Gotham-Book';

}


html, body{
    padding: 0;
    margin: 0;
    background-color: $azul;
    color: white;
    font-size: $cuerpo;
}

strong{
    font-family: $bold;
}

.head-title{
    font-family: $bold;
    font-weight: bold;
    font-size: $titulo-1;
    // margin-right: 180px;
    line-height: 0.9;
    span{
        font-family: $bold;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 110%;
            background-color: $aqua;
            height: 45px;
            z-index: 0;
            bottom: -10px;
            left: -5%;
            mix-blend-mode: lighten;
        }
    }
}

.square-title{
    background-color: $azul;
    font-size: $titulo-0;
    font-family: $bold;
    padding: 10px 20px;
    padding-top: 13px;
    line-height: 1;
    width: fit-content;
    margin: 0 auto;
    span{
        font-size: $titulo-2;
        font-style: italic;
        font-family: $bold;
        sup{
            font-family: $bold;
            font-size: $titulo-4;
        }
    }
}

.wide-cont{
    padding: 30px 60px;
}

.center-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}

// Landing
.top-banner{
    background-image: url(../img/bg-top-banner.jpg);
    background-size: cover;
    background-position: center right;
    min-height: 500px;
    padding-top: 150px;
    padding-bottom: 100px;
    .logo-img{
        max-width: 500px;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
}

.topics-cont{
    // background-color: #1e397a;
    height: 235px;
    .container{
        max-width: 750px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        position: relative;
        bottom: 55px;
        .item{
            width: 370px;
            height: 200px;
            background-color: #00ada6;
            padding: 30px;
            position: relative;
            .icon-img{
                position: absolute;
                top: 0;
                width: 140px;
                height: 140px;
                &.left{
                    top: -70px;
                    left: -55px;
                }
                &.right{
                    top: -70px;
                    right: -55px;
                }
                img{
                    width: 100%;
                }
            }
            .title{
                text-align: center;
                // font-family: 'Gotham-Bold','GothamBold';
                font-size: 40px;
                position: relative;
                font-family: $bold;
                line-height: 1;
                &:before{
                    content: '';
                    width: 10px;
                    height: 5px;
                    position: absolute;
                    background-color: #fff;
                    bottom: -15px;
                }
                .upper{
                    font-size: 20px;
                    font-weight: normal;
                }
            }

            .desc{
                padding-top: 30px;
                text-align: center;
                font-size: 14px;

            }
        }
    }
}

.middle-cont{
    background-image: url(../img/bg-nuevo-leon.jpg);
    background-size: cover;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: end;
    .text{

        font-size: 20px;
        max-width: 470px;
        font-style: italic;
        line-height: 1.2;

        p:first-child{
            position: relative;
            .super{
                font-size: 50px;
                line-height: 0;
            }
            &:before{
                content: '';
                width: 7px;
                height: 110%;
                left: -20px;
                top: -15px;
                position: absolute;
                background-color: #fff;
            }
        }
    }
}

.enfrentar-cont{
    padding-top: 260px;
    .container{
        display: flex;

        .head-title{
            margin-right: 180px;
        }
        .desc{
            max-width: 400px;
            font-size: $cuerpo;
            .grid-icons{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .item{
                    // margin: 0 10px;
                    width: 90px;
                    .icon{
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
                        border: 5px solid white;
                    }
                    .title{
                        width: 90px;
                        text-align: center;
                        font-size: 14px;
                        margin-top: 10px;
                        height: 40px;
                        font-family: $bold;
                    }
                }
            }
        }
    }

    .middle-container{
        max-width: 750px;
        margin: 0 auto;
        font-size: $cuerpo;

        margin-top: 120px;
        line-height: 1.2;
    }
}

.sabias-cont{
    padding-top: 100px;
    .container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        .head-title{
            margin-bottom: 60px;
        }
        .text-percent{
            font-size: $cuerpo;
            p{
                margin: 0;
                padding: 0;
                line-height: 1;
            }
            .percent{
                font-size: 230px;
                font-family: $bold;
                color: $aqua;
                line-height: 0.8;
                height: fit-content;
            }
        }
    }
}

.grid-datos{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 800px;
    .item{
        width: 33%;
        padding: 20px 30px;
        border-left: 4px solid white;
        font-size: $cuerpo;
        min-width: 250px;
        margin-bottom: 50px;
        line-height: 1.2;
        height: fit-content;
        .percent{
            background-color: #fff;
            color: $azul;
            font-family: $bold;
            display: inline;
            padding: 1px;
            line-height: 1.3;
        }

        &:nth-child(1){
            align-self: flex-start;
        }
        &:nth-child(2){
            align-self: center;
        }
        &:nth-child(3){
            align-self: end;
        }

    }
}

.sumar{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: $cuerpo;
    .icon{
        width: 130px;
        height: 120px;
        border-radius: 53px;
        background-color: $azul;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 70%;
            margin-top: -10px;
        }
    }
    .title{
        font-size: $titulo-3;
        strong{
            font-size: $titulo-2;
        }
    }

    p{
        text-align: center;
        width: fit-content;
        margin: 0 auto;
    }
}

.mc{
    margin-top: 10px;
    p{
        text-align: center;
        font-size: 25px;
        span{
            font-family: $bold;
            font-size: 38px;
        }
    }
}

.grid-datos-agua{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    .item{
        width: 33%;
        
        display: flex;
        align-items: center;
        line-height: 1;
        .icon{
            width: 130px;
            height: 130px;
            margin-right: 10px;
            border-radius: 50%;
            background-color: #fff;
        }
        .desc{
            span{
                font-size: 40px;
                font-family: $bold;
            }
        }
    }
}

.middle-hr{
    max-width: 600px;
    height: 3px;
    background-color: #fff;
    margin-top: 20px;
}

.vulnerable-cont {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: $cuerpo;
    margin-top: 80px;
    .icon{
        width: 130px;
        height: 120px;
        border-radius: 53px;
        background-color: $darkgreen;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 70%;
            margin-top: -10px;
        }
    }
    .title{
        font-size: $titulo-3;
        strong{
            font-size: $titulo-2;
        }
    }

    p{
        text-align: center;
        width: fit-content;
        margin: 0 auto;
    }
}

.grid-four-items{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    .item{
        width: 45%;
        
        display: flex;
        align-items: flex-start;
        justify-content: start;
        line-height: 1;
        margin: 20px 0;
        .icon{
            width: 130px;
            height: 130px;
            margin-right: 10px;
            border-radius: 50%;
            background-color: #fff;
        }
        .desc{
            width: calc(100% - 200px);
            font-size: 24px;
            span{
                font-size: 40px;
                font-family: $bold;
            }

            .highligth{
                margin-top: 15px;
                padding: 10px 20px;
                background-color: $darkgreen;
                width: fit-content;
                font-size: 30px;
            }
        }
    }
}



.acciones-cont{
    padding-top: 110px;
}

.acciones-grid{
    display: flex;
    align-self: start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    .item{
        width: 30%;
        .image{
            width: 100%;
            padding: 0;
            margin: 0;
            line-height: 1;
            background-color: #fff;
            border-top-left-radius: 20%;
            border-bottom-left-radius: 20%;
            border-bottom-right-radius: 20%;
            img{
                line-height: 1;
                width: 100%;
                padding: 0;
                margin: 0;
                margin-bottom: -5px;
            }
        }
        .text{
            padding: 10px 15px;
            margin-top: 30px;
            font-size: 26px;
            line-height: 1.1;
            position: relative;
            strong{
                font-size: 40px;
                line-height: 1;
            }

            &::before{
                content: '';
                width: 80%;
                width: 110px;
                height: 15px;
                background-color: #fff;
                top: 100%;
                position: absolute;
            }
        }
    }
}


.brindar-cont{
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-image: url(../img/shape.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position:  center;
   
    .column{
        &:first-child{
            // 
        }
        &:last-child{
            margin-left: 20px;
            .text{
                margin-top: 40px;
                margin-left: 80px;
                strong{
                    font-size: 36px;
                }
            }

            .nota{
                margin-left: 80px;

            }
        }
        .head-title{
            font-size: $titulo-2;
            &.mr{
                margin-right: 100px;
            }
        }
        .img-text{
            margin-top: 40px;
            display: flex;
            align-items: center;
            .icon{
                width: 130px;
                height: 130px;
                background-color: #fff;
                border-radius: 50%;
            }
            .text{
                margin-left: 10px;
                strong{
                    font-size: 36px;
                }
            }
        }
    
        .nota{
            margin-top: 50px;
            max-width: 330px;
            font-size: 16px;
        }
    
    }
}

.brindar-center{
    .head-title{
        margin: 0 auto;
        width: fit-content;
        font-size: $titulo-2;
    }

    .img-text{
        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        align-items: center;
        width: fit-content;
        .icon{
            width: 130px;
            height: 130px;
            background-color: #fff;
            border-radius: 50%;
        }
        .text{
            margin-left: 10px;
            strong{
                font-size: 36px;
            }
        }
    }
}

.grid-5-datos{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    .item{
        padding: 10px;
        width: 20%;
        .number{
            display: flex;
            align-items: end;
            justify-content: start;
            .num{
                color: $aqua;
                font-size: $titulo-1;
                line-height: 1;
                margin-bottom: 10px;
                position: relative;
                font-family: $bold;
                small{
                    position: absolute;
                    bottom: 2px;
                    left: 0;
                    margin: 0;
                    padding: 0;
                    height: 5px;
                    line-height: 0;
                    font-size: 16px;
                }
            }
            .icon{
                margin-left: 5px;
                width: 25px;
                img{
                    width: 100%;
                }
            }
        }
        .text{
            margin-top: 20px;
            padding-right: 10px;
        }
    }
}